.modal {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 10;
}
.modal-content{
  width: 50%;
  max-width: 550px;
  margin-top: 20%;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  padding: 40px;
}
.modal-content form { 
  width: 100%;
}
input {
  width: 100%;
  margin-bottom: 30px;
}