.zoomContainer {
  position: fixed;
  z-index: 9999;
  height: 100vh;
  width: 100vw;
  background-color: #000000;
  overflow: hidden;
  top: 0;
  left: 0;
}
.zoomContainerNavigation {
  position: absolute;
  z-index: 3;
  width: 80px;
  left: 5vw;
  top: 5vw;
  img{
    display: block;
    width: 100%;
    margin-bottom: 30px;
    opacity: 0.4;
    transition: opacity 0.3s ease;
    cursor: pointer;
  }
  img.current{
    opacity: 1;
    cursor: default;
    pointer-events: none;
  }
}
.zoomContainer > img{
  position: relative;
  top: 0;
}